{% extends 'base.html.twig' %}

{% block title %}Hello SetController!{% endblock %}

{% block body %}
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.css' rel='stylesheet'/>
    <div class="flex flex-row h-full max-h-full gap-2" x-data="{ setId: {{ setId|default(false) }} {% if routeId %},routeId: {{routeId}} {% endif %}}">
        <div class="flex flex-row basis-1/2 h-full gap-2">
            <div class="sets basis-1/3">
                <div class="w-full rounded text-center bg-gray-100 p-3">Zbiory</div>
                <div>
                    {% for set in sets %}
                        <a href="{{ path('app_set', {'setId': set.id}) }}">
                            <div :class="setId == '{{ set.id }}' ? 'bg-teal-300' : ''"
                                 class="border-b-2 hover:bg-teal-100">{{ set.name }}</div>
                        </a>
                    {% endfor %}
                </div>
            </div>
            <div class="routes basis-1/3 h-full">
                <div class="w-full rounded text-center bg-gray-100 p-3">Trasy
                    <form action="{{ path('app_generate_routes', {'id': setId}) }}" method="POST"><button class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-teal-500 hover:bg-white mt-4 lg:mt-0">WYGENERUJ</button></form></div>
                <div>
                    {% for route in routes %}
                        <a href="{{ path('app_set', {'setId': setId, 'routeId': route.id}) }}">
                            <div :class="routeId == '{{ route.id }}' ? 'bg-teal-300' : ''"
                                 class="border-b-2 hover:bg-teal-100">{{ route.id }}</div>
                        </a>
                    {% endfor %}
                </div>
            </div>
            <div class="points basis-1/3 flex flex-col">
                <div class="flex-1 w-full rounded text-center bg-gray-100 p-3">Punkty</div>
                <div class="flex-auto flex flex-col flex-nowrap h-96">
                    {% if routeId %}
                        {% for point in points %}
                            <div class="border-b-2 hover:bg-teal-100">{{ point.name }}</div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
        <div id="map" class="h-full basis-1/2 rounded"></div>
    </div>

    <script>
        mapboxgl.accessToken = "pk.eyJ1Ijoia2N6ZXJlY3pvbiIsImEiOiJja29zdmZpM3YwNWhqMndvYWphemc0MDBoIn0.i558tTzbzGDUtvye0cYfcw";
        const map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mapbox/streets-v12',
            center: [19.0, 52.0],
            zoom: 5
        });

        let points = {{ points.toArray|default([])|json_encode(constant('JSON_HEX_QUOT'))|raw }};

        points.forEach(point => {
            console.log(point)
            const marker = new mapboxgl.Marker({
                color: "#FFFFFF",
                draggable: false
            }).setLngLat([point.lon, point.lat])
                .addTo(map);
        })

        function handleClick(e) {
            alert(e);
        }
    </script>
{% endblock %}
